<html lang="en" ng-app="phonecatApp">
<head>
	<meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.module.js"></script>
  <script src="phone-list/phone-list.module.js"></script>
  <script src="phone-list/phone-list.component.js"></script>
</head>
<body>

  <!-- use a custom component to render a list of phones -->
  <phone-list></phone-list>

  <table>
  	<tr><th>Row number</th></tr> 
  	<tr ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]" >
  		<td ng-repeat="j in [0,1,2,3,4,5,6,7,8,9]" >{{i+j}}</td>
  	</tr>

  </table>

</body>
</html>